* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;
  margin: 15px auto 0;
}
header button {
  width: 100px;
  padding: 7px;
}
form {
  width: 500px;
  margin: 15px auto;
  display: flex;
  flex-direction: column;
  gap: 8px;
  border: 1px solid black;
  padding: 10px;
}
.complete {
  color: red;
  font-size: 0.7em;
  margin: 0;
  padding: 0;
}
input {
  padding: 6px;
}
.empty {
  border: solid red 1px;
}
#body {
  padding: 6px;
}
.navigation {
  display: flex;
  gap: 10px;
  width: 500px;
  margin: 20px auto;
}
.navigation button {
  flex: 1;
  padding: 10px 15px;
}
.navigation input {
  flex: 2;
  padding: 10px 15px;
}
.posts {
  width: 500px;
  margin: 20px auto;
}
.post {
  padding: 10px;
  border: solid 1px black;
  margin-bottom: 10px;
  width: 500px;
  margin: 20px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 7px;
}
.title {
  font-size: 1.4em;
  margin-bottom: 10px;
  font-weight: 600;
}
.p-body {
  text-align: justify;
  margin-bottom: 10px;
}
.add-comment .c-body {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 5px 0;

  input,
  button {
    max-height: 25px;
    max-width: 94%;
    padding: 5px;
    font-size: 0.9em;
  }
}
.comment {
  padding: 5px;
  margin-bottom: 5px;
  border: 1px solid black;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 7px;
}
.comment-header {
  display: flex;
  align-items: center;
}

.email {
  font-size: 0.6em;
  color: gray;
}
.email::before {
  content: " \A0 - \A0";
}
.add-comment input {
  padding: 0;
  width: 100%;
}
.name {
  font-weight: 600;
  font-size: 0.8em;
}
.c-body {
  font-size: 0.7em;
  max-width: 100%;
}
.add-comment-form {
  width: 90%;
  margin: 10px auto;
  input,
  button {
    margin: 2px 3%;
  }
}
li {
  list-style: none;
}
.buttons {
  display: flex;
  gap: 8px;
}
button {
  width: 100%;
  padding: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.buttons {
  display: flex;
  gap: 8px;
}
.link-button {
  width: 100%;
}
.no-posts {
  text-align: center;
  width: 500px;
  margin: 0 auto;
}
.likes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
